/*GLOBAL*/
:root {
	--laranja-color: #DB6624;
	--rosa-color: #ea526f;
	--azulClaro-color: #7A9EFB;
	--azulEscuro-color: #296179;
	--cinza-color: #454141;
	--white-color:white;
	--cinza2-color:#504E4E;
	--azulEscuro2-color: #358FB6;
	--roxoClaro-color:#D39AFF;
	--azulClaro2-color:#7ED8FF;
	
}

/* HEADER */
body {
	margin: 0px;
}

.header-main {
	display: flex;
	height: 55px;
	width: 100%;
	background-color: var(--azulEscuro-color);
}
.header-icon {
	width: 52px;
	height: 50px;
	align-self: center;
	margin-left: 10px;
}
.header-searchBar {
	width: 611px;
	height: 37px;
	align-self: center;
	display: flex;
	margin-left: 30px;
	background-color: var(--white-color);
	border: 1px solid #000;
}
.header-searchBar-icon {
	width: 22px;
	height: 23px;
	margin-top: 7px;
	margin-left: 13px;
}
.header-searchBar-input {
	width: 500px;
	height: 30px;
	margin-left: 13px;
	margin-top: 2px;
	background-color: transparent;
}
.header-searchBar-input,
.header-searchBar-input:focus {
	outline: none;
	border: none;
}
.header-links {
	display: flex;
	position: absolute;
	right: 0;
	align-self: center;
	margin-right: 20px;
}
.header-links-a {
	font-size: 18px;
	color: var(--white-color);
	text-decoration: none;
	padding-inline: 10px;
	align-self: center;
	font-weight: bold;
}
.a-selected {
	color: var(--roxoClaro-color);
}
.header-links-icon {
	width: 30px;
	height: 29px;
	margin-top: 3px;
	align-self: center;
}

/* GENERAL */
.container-left {
	float: left;
}
.container-center {
	/* position: absolute; */
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 40px;
	margin-bottom: 50px;
}
.container-right {
	float: right;
}
.container-bottom {
	margin-top: 40px;
}

/*<index.php>*/
	body {
		background-color: var(--cinza2-color);
		color: var(--white-color);
	}

	#main {
		flex-direction: row;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.logo {
		width: 500px;
		height: 500px;
	}

	.divLogo {
		position: absolute;
		top: 20%;
		left: 10%;
	}

	#loginContainerHidden {
		display: none;
	}

	#loginContainer {
		position: absolute;
		right: 23%;
		top: 23%;
	}

	.divLogin {
		background-color: var(--azulEscuro-color);
		width: 324px;
		height: 331px;
		border-radius: 10px;
	}
	.headerTxt {
		font-size: 30px;
		color: var(--white-color);
		text-align: center;
		font-weight: bold;
		margin-bottom: 4%;
	}

	.containerLogin {
		padding: 30px;
	}

	.inputs {
		width: 256px;
		height: 38px;
		border-radius: 10px;
		font-size: 18px;
		margin-bottom: 17px;
	}

	.inputHalf {
		width: 122px;
		height: 36px;
		border-radius: 10px;
		font-size: 15px;
		margin-bottom: 5px;
	}

	.button {
		width: 256px;
		height: 42px;
		border-radius: 10px;
		font-size: 22px;
		margin-bottom: 30px;
	}
	.registerBtn {
		background-color: var(--laranja-color);
		color: var(--white-color);
	}
	#registerBtn {
		margin-top: -5px !important;
	}
	#loginBtn {
		background-color: var(--azulClaro-color);
		color: var(--white-color);
	}

	.containerLinkMenor {
		margin-left: 22%;
		margin-bottom: 7%;
	}
	.linkMenor {
		font-size: 16px;
		font-weight: bold;
		color: var(--white-color);
	}

	#registerContainerHidden {
		display: none;
	}

	#registerContainer {
		position: absolute;
		right: 23%;
		top: 3%;
	}

	button, .arrowBack {
		background-color: transparent;
		border: none;
		margin-right: 30px;
		margin-top: 13px;
		width: 40px;
		height: 40px;
	}

	.arrowBack {
		width: 40px;
		height: 40px;
	}

	.divRegister {
		background-color: var(--azulEscuro-color);
		width: 324px;
		height: 580px;
		border-radius: 10px;
	}

	.containerRegister {
		padding: 30px;
		padding-top: 10px !important;
	}

	#imgs_register {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-left: 1%;
	}

	#imgs_register input {
		margin-top: 20%;
	}

	#img_input1 {
		margin: 10px;
		background-color: var(--azulEscuro-color);
	}

	div#img_perfil {
		width: 90px;
		height: 90px;
		background-image: url("imgs/icons/user-icon.png");
		background-size: cover;
		border-radius: 50%;
	}

	#divTermos {
		display: flex;
		font-size: 18px;
		align-items: center;
		margin-top: -4px !important;
		margin-bottom: 1px;
		margin-left: 1px;
	}

/*</index.php>*/
/*--------------------------------------------------------------------------------------------------------------*/
/*<mar.php>*/
	header.header{
		background-color: var(--azulEscuro-color);
		height: 70px;
		width: 100%;
	}
	div.mar_porto{
		background-color: var(--cinza-color);
		height: 265px;
		width: 80%;
		text-align: left;
	}
	img.mar_porto{
		width: 225px;
		height: 100%;
		float: left;
	}
	h2.mar_porto{
		padding-top: 30px;
	}
	p.mar_porto{
		font-size: 20px;
		text-align: justify;
		width: 95%;
	}

	body.mar_porto{
		background-color: var(--cinza2-color);
	}
	.mar_porto>a{
		color: var(--azulEscuro2-color);
		text-decoration: none;
		margin-left: 3%;
	}
	.mar_porto>a:visited{
		color: var(--azulEscuro2-color);
		text-decoration: none;
	}
	.text-porto{
		margin-left: 25%;
		text-align: left;
		margin-top: 50px;
	}
	img.ancora{
		width: 40px;
		height: 40px;
		margin-top: 20px;
		margin-left: 20px;
	}
	img.header_logo{
		width: 45px;
		height: 45px;
		margin-top: 15px;
		margin-left: 20px;
	}
	a.header{
		font-size: 20px;
		text-decoration: none;
		color: var(--white-color);
	}
	a.header:visited{
		font-size: 20px;
		text-decoration: none;
		color: var(--white-color);
	}
	a.onIt{
		color: var(--roxoClaro-color);
	}
	.links{
		width: 200px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 20px;
	}
	.header-container{
		display: flex;
		flex-direction: row;
	}
	img.pesquisar{
		width: 20px;
		height: 20px;
	}
	input.pesquisar{
		background-color: var(--white-color);
		height: 25px;
		width: 500px;
	}
	.pesquisar-pool{
		margin-top: 20px;
		flex-grow: 2;
		display: flex;
		justify-content: center;
	}
	.page-link{
		color:var(--white-color);
		text-decoration: none;
	}
	.page-link:visited{
		color:var(--white-color);
		text-decoration: none;
	}
/*</mar.php>*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*<validarEmail.php>*/
	.logo-Vemail{
		width: 120px;
		height: 120px;
	}
	.main-Vemail{
		margin-top: 2%;
		width: 60%;
		height: 500px;
		color:var(--white-color);
		position: relative;
	}
	.main-Vemail>h1{
		color:var(--azulClaro2-color);
	}
	.main-Vemail>h3{
		color:var(--azulEscuro2-color);
	}
	.main-Vemail>p{
		font-size: 24px;
	}
	a.main-button{
		text-decoration: none;
		color:var(--white-color);
		font-size: 24px;
	}
	a.main-button:visited{
		text-decoration: none;
		color:var(--white-color);
		
	}
	div.main-button{
		border-radius: 15px;
		width: 365px;
		height: 60px;
		background-color: var(--azulEscuro2-color);
	}
	p.main-button{
		padding-top: 4%;
	}
	.main-container{
		width: 60%;
		margin: 8%;
		background-color: var(--cinza2-color);
		border-radius: 15px;
	}
/*</validarEmail.php>*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*<animation.html>*/
	@keyframes float{
		50% {transform: rotate(15deg);}
	}
	.loader {
		border: 5px solid #f3f3f3;
		border-radius: 50%;
		border-top: 5px solid #3498db;
		width: 20px;
		height: 20px;
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
	}
	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
	body.animation{
		background-color: var(--azulEscuro-color);
	}
	.container-animation{
		display: grid;
		grid-template-rows:1fr 1fr 1fr ;
		grid-template-columns: 1fr 1fr 1fr;
	}
	div.container-animation>div.navio>img{
		width: 38%;
		animation: float 5s infinite;
		transform: rotate(-10deg);
	}
	div.container-animation>div.navio{
		grid-row: 2;
		grid-column: 2;
		text-align: center;
	}
/*</animation.html>*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*<navio.php>*/
	div.perfil{
		width: 150px !important;
		height: 150px !important;
	}
	h3.perfil{
		font-size: 24px;
	}
	div.camera-icon{
		background-color: var(--white-color);
		position: absolute;
		align-self: center;
		left: 51%;
		top:185px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		background-image: url('imgs/icons/camera.png');
		background-size: 25px 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	div.perfil-amigos{
		width: 909px;
		display: flex;
		background-color: var(--cinza-color);
		flex-direction: row;
		justify-content: space-around;
		border-radius: 10px;
	}
	body.perfil{
		background-color: var(--cinza2-color);
	}

	div.make-post{
		width: 60%;
		height: 200px;
		background-color: var(--cinza-color);
	}
	div.post-icon{
		position: absolute;
		margin-top:1%;
		margin-left:1% ;
		width: 64px;
		height: 64px;
		border-radius: 50% !important;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	textarea.post-input{
		border-radius: 10px;
		width: 80%;
		margin-top: 10%;
	}
	.post-name{
		position: absolute;
		margin-left:7% ;
	}
/*</navio.php>*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*<feed.php>*/
.center {
	display: flex;
	justify-content: center;
}
.insert-interacao {
	background-color: var(--cinza-color);
	width: 909px;
	height: 262px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}
.insert-interacao-user {
	display: flex;
	align-items: center;
}
.interaction-mainuser-user-icon {
	width: 64px;
	height: 64px;
	border-radius: 50px;
}
.insert-interacao-user-name {
	margin-left: 10px;
	font-style: italic;
	font-size: 16px;
}
.insert-interacao-input {
	width: 886px;
	height: 105px;
	margin-top: 15px;
	border-radius: 20px;
	padding: 10px;
}

.insert-interacao-smallBtns {
	display: flex;
	margin-top: 20px;
	margin-left: 10px;
}
.insert-interacao-smallBtns-a {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	display: flex;
}
.insert-interacao-smallBtns-icon {
	width: 19px;
	height: 19px;
	margin-right: 5px;
}
.insert-interacao-submit {
	position: relative;
	width: 139px;
	height: 38px;
	background-color: var(--laranja-color);
	color: #fff;
	border-radius: 10px;
	border-width: 0px;
	float: right;
	margin-top: -25px;
}

.add-amigo {
	background-color: var(--cinza-color);
	width: 909px;
	height: 351px;
	margin-top: 20px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}
.add-amigo-top {
	display: flex;
	align-items: center;
	margin-top: -20px;
}
.add-amigo-suggesTxt {
	font-size: 36px;
}
.add-amigo-verMais {
	font-size: 18px;
	color: var(--azulEscuro2-color);
	margin-left: 500px;
}
.add-amigo-cards {
	display: flex;
	/* justify-content: center; */
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}
.add-amigo-card {
	width: 195px;
	height: 204px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #000;
	border-radius: 10px;
	border-width: 0px;
	align-items: center;
}
.add-amigo-card-icon {
	width: 75px;
	height: 75px;
	border-radius: 50px;
	align-self: center;
	margin-top: 20px;
}
.add-amigo-card-name {
	font-size: 24px;
	margin-top: 15px;
}
.add-amigo-card-button {
	width: 139px;
	height: 38px;
	background-color: var(--azulEscuro2-color);
	color: #fff;
	border-radius: 10px;
	border-width: 0px;
	margin-top: -15px;
}
.add-amigo-card-button-selected {
	width: 139px;
	height: 38px;
	background-color: #fff;
	color: var(--azulEscuro2-color);
	border-color: var(--azulEscuro2-color);
	border-radius: 10px;
	border-width: 1px;
	margin-top: -15px;
}

/*</feed.php>*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/