body{
    background-color: #504E4E;
    color: white;
}
input{
	background-color:'#fff';
	margin-top: 20px;
	margin-bottom: 20px;
	width:364px;
	height:52px;
	border-radius:10px;
}
p{
	font-size: 24px;
	color: white;
	margin-top: 10px;
}
a.linkMenor{
	font-size: 18px;
}
.aa{
	font-size: 48px;
	position:relative;
	left:62%;
	top:10%;
};
div{
    width: 25%;
}

div#main{
    margin: 10%;
}

.button{
	margin-top: 20px;
	margin-bottom: 20px;
	width:364px;
	height:52px;
	border-radius:10px;
    color: white;
    background: #7A9EFB;
	font-size: 24px;
}
.button2 {
	background: #DB6624;
	margin-top: 20px;
	margin-bottom: 20px;
	width:364px;
	height:52px;
	border-radius:10px;
}
input[type="email"]
{
    font-size:24px;
}
input[type="password"]
{
    font-size:24px;
}
/* .button:hover{
    background: #296179;
} */
a {
    text-decoration: none;
    color: white;
}
img#logo{
	position: absolute;
	width: 600px;
    height: 600px;
}
#form1{
	background-color: #296179;
	width:424px;
	height:431px;
	position:relative;
	right:20%;
	top:30%;
	border-radius:10px;
}