w:root {
	--color-laranja: #DB6624;
	--color-rosa: #ea526f;
	--color-azulClaro: #7A9EFB;
	--color-azulEscuro: #296179;
	--color-cinzaEscuro: #454141;
}

body {
	background-color: #454141;
	color: white;
}

#main {
	flex-direction: row;
}

.row {
	display: flex;
	flex-direction: row;
}

.logo {
	width: 500px;
	height: 500px;
}

.divLogo {
	position: absolute;
	top: 20%;
	left: 10%;
}

#loginContainerHidden {
	display: none;
}

#loginContainer {
	position: absolute;
	right: 23%;
	top: 23%;
}

.divLogin {
	background-color: #296179;
	width: 324px;
	height: 331px;
	border-radius: 10px;
}
.headerTxt {
	font-size: 30px;
	color: white;
	text-align: center;
	font-weight: bold;
	margin-bottom: 4%;
}

.containerLogin {
	padding: 30px;
}

.inputs {
	width: 256px;
	height: 38px;
	border-radius: 10px;
	font-size: 18px;
	margin-bottom: 17px;
}

.inputHalf {
	width: 122px;
	height: 42px;
	border-radius: 10px;
	font-size: 22px;
	margin-bottom: 5px;
}

.button {
	width: 256px;
	height: 42px;
	border-radius: 10px;
	font-size: 22px;
	margin-bottom: 30px;
}
#registerBtn {
	background-color: #DB6624;
	color: white;
}
#loginBtn {
	background-color: #7A9EFB;
	color: white;
}

.containerLinkMenor {
	margin-left: 22%;
	margin-bottom: 7%;
}
.linkMenor {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

#registerContainerHidden {
	display: none;
}

#registerContainer {
	position: absolute;
	right: 23%;
	top: 3%;
}

button, .arrowBack {
	background-color: transparent;
	border: none;
	margin-right: 30px;
	margin-top: 13px;
	width: 40px;
	height: 40px;
}

.arrowBack {
	width: 40px;
	height: 40px;
}

.divRegister {
	background-color: #296179;
	width: 324px;
	height: 560px;
	border-radius: 10px;
}

.containerRegister {
	padding: 30px;
}

#imgs_register {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-left: 1%;
}

#imgs_register input {
	margin-top: 20%;
}

#img_input1 {
	margin: 10px;
	background-color: #296179;
}

div#img_perfil {
	width: 90px;
	height: 90px;
	background-image: url("imgs/icons/user-icon.png");
	background-size: cover;
	border-radius: 50%;
}

#divTermos {
	display: flex;
	font-size: 18px;
	align-items: center;
	margin-bottom: 5px;
	margin-left: 1px;
}