:root {
	--laranja-color: #DB6624;
	--rosa-color: #ea526f;
	--azulClaro-color: #7A9EFB;
	--azulEscuro-color: #296179;
	--cinza-color: #454141;
	--white-color:white;
	--cinza2-color:#504E4E;
	--azulEscuro2-color: #358FB6;
	--roxoClaro-color:#D39AFF;
	
}

body {
	background-color: var(--cinza-color);
	color: var(--white-color);
}

#main {
	flex-direction: row;
}

.row {
	display: flex;
	flex-direction: row;
}

.logo {
	width: 500px;
	height: 500px;
}

.divLogo {
	position: absolute;
	top: 20%;
	left: 10%;
}

#loginContainerHidden {
	display: none;
}

#loginContainer {
	position: absolute;
	right: 23%;
	top: 23%;
}

.divLogin {
	background-color: var(--azulEscuro-color);
	width: 324px;
	height: 331px;
	border-radius: 10px;
}
.headerTxt {
	font-size: 30px;
	color: var(--white-color);
	text-align: center;
	font-weight: bold;
	margin-bottom: 4%;
}

.containerLogin {
	padding: 30px;
}

.inputs {
	width: 256px;
	height: 38px;
	border-radius: 10px;
	font-size: 18px;
	margin-bottom: 17px;
}

.inputHalf {
	width: 122px;
	height: 36px;
	border-radius: 10px;
	font-size: 15px;
	margin-bottom: 5px;
}

.button {
	width: 256px;
	height: 42px;
	border-radius: 10px;
	font-size: 22px;
	margin-bottom: 30px;
}
.registerBtn {
	background-color: var(--laranja-color);
	color: var(--white-color);
}
#registerBtn {
	margin-top: -5px !important;
}
#loginBtn {
	background-color: var(--azulClaro-color);
	color: var(--white-color);
}

.containerLinkMenor {
	margin-left: 22%;
	margin-bottom: 7%;
}
.linkMenor {
	font-size: 16px;
	font-weight: bold;
	color: var(--white-color);
}

#registerContainerHidden {
	display: none;
}

#registerContainer {
	position: absolute;
	right: 23%;
	top: 3%;
}

button, .arrowBack {
	background-color: transparent;
	border: none;
	margin-right: 30px;
	margin-top: 13px;
	width: 40px;
	height: 40px;
}

.arrowBack {
	width: 40px;
	height: 40px;
}

.divRegister {
	background-color: var(--azulEscuro-color);
	width: 324px;
	height: 580px;
	border-radius: 10px;
}

.containerRegister {
	padding: 30px;
	padding-top: 10px !important;
}

#imgs_register {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-left: 1%;
}

#imgs_register input {
	margin-top: 20%;
}

#img_input1 {
	margin: 10px;
	background-color: var(--azulEscuro-color);
}

div#img_perfil {
	width: 90px;
	height: 90px;
	background-image: url("imgs/icons/user-icon.png");
	background-size: cover;
	border-radius: 50%;
}

#divTermos {
	display: flex;
	font-size: 18px;
	align-items: center;
	margin-top: -4px !important;
	margin-bottom: 1px;
	margin-left: 1px;
}
#main_Validar_email{
	background-color: var(--cinza2-color);
	color:var(--white-color);
	width: 80%;
}
header.header{
	background-color: var(--azulEscuro-color);
	height: 70px;
	width: 100%;
}
div.mar_porto{
	background-color: var(--cinza-color);
	height: 265px;
	width: 80%;
	text-align: left;
}
img.mar_porto{
	width: 191px;
	height: 174px;
	float: left;
	margin-top: 45px;
	margin-left: 20px;
}
h2.mar_porto{
	padding-top: 30px;
}
p.mar_porto{
	font-size: 20px;
	margin-top: 60px;
}

body.mar_porto{
	background-color: var(--cinza2-color);
}
.mar_porto>a{
	color: var(--azulEscuro2-color);
	text-decoration: none;
}
.mar_porto>a:visited{
	color: var(--azulEscuro2-color);
	text-decoration: none;
}

img.ancora{
	width: 40px;
	height: 40px;
	margin-top: 20px;
	margin-left: 20px;
}
img.header_logo{
	width: 45px;
	height: 45px;
	margin-top: 15px;
	margin-left: 20px;
}


a.header{
	font-size: 20px;
	text-decoration: none;
	color: var(--white-color);
}
a.header:visited{
	font-size: 20px;
	text-decoration: none;
	color: var(--white-color);
}
a.onIt{
	color: var(--roxoClaro-color);
}
.links{
	width: 200px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
}
.header-container{
	display: flex;
	flex-direction: row;
}
img.pesquisar{
	width: 20px;
	height: 20px;
}
input.pesquisar{
	background-color: var(--white-color);
	height: 25px;
	width: 500px;
}
.pesquisar-pool{
	margin-top: 20px;
	flex-grow: 2;
	display: flex;
	justify-content: center;
}
